@charset "UTF-8";

#form-wrap,
#output-wrap {
    background-color: white;
    border-radius: 10px;
}

form {
    width: 95%;
}

.text-justify {
    text-align: justify;
}

.hide {
    display: none;
}