.bold {
  font-weight: bold !important;
}

.text-center {
  display: block !important;
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-justify {
  text-align: justify !important;
}