@import url("./base.css");
@import url("./generics.css");
@import url("./state.css");

.container {
  margin: 0 auto;
  max-width: 480px;
  min-width: 320px;
}

header {
  background-color: #1d77fd;
  padding: 1em;
}

.main-title {
  color: white;
  font-size: 2rem;
}

main {
  background-color: white;
  padding: .5em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.explanation {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.explanation-title {
  font-size: 1.5rem;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.inputs {
  display: flex;
  gap: .5em;
}

.input-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: .3em;
}

.data-input {
  padding: .5em;
  border-radius: .5em;
}

.calculate-btn {
  background-color: #198754;
  border-radius: .3em;
  color: white;
  font-size: 1rem;
  padding: .5em;
  transition: background-color .3s ease-in;
}

.calculate-btn:hover {
  background-color: #0c5c37;
}

.categories-table {
  width: 100%;
  border-collapse: collapse;
}

.categories-table td, th {
  border: 1px solid rgba(0, 0, 0, .2);
  padding: .6em;
}

.categories-table th {
  background-color: black;
  color: white;
  font-size: 1.1rem;
}

footer {
  background-color: #717a82;
  padding: 1em;
}

.copyright {
  color: white;
}