@import url("./base.css");
@import url("./generics.css");

header {
  background-color: #1d77fd;
  padding: 1em;
}

.main-title {
  color: white;
  font-size: 2rem;
}

footer {
  background-color: #717a82;
  padding: 1em;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.copyright {
  color: white;
}